body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #492540;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  line-height: 2;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Ubuntu', san-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;

  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #492540;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ee5eca;
  cursor: pointer;
}

#testimonials {
  text-align: center;
  background-color: #ee5eca;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ee5eca;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
  text-align: center;
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
